body,html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url(../images/lureSwap.png);
    height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contact {
    background-image: url(../images/contact.JPG);
    height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-portfolio {
    background-image: url(../images/reef.JPG);
    height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.tab {
    padding-top: 20px;
    color: #8d8980;
    font-size: 20px;
       
}

.navbar-fixed-bottom {
    background-color: #bfb48f;
    height:5%;
}

h4 {
    color: white;
    font-size:  32px;
    padding:0;
    ;
   
}.panel-body {
    background: rgba(101, 62, 32, 0.858);
}

.text {
    color: antiquewhite;
    font-size: 18px;
}.py-3 {
    color: #8d8980;
}

.form-control {
    width: 70%;

}
.form-group {
    padding: auto;
}
label{
    color: black;
}
.filler {
    height: 30px;

}
.lureSwap {
    color: antiquewhite;
    position: relative;
    top: -30px;
    left: 200px;
    font-size: 24px;

}