.tab {
    padding-top: 20px;
    color: white
    ;   
}

div.container-fluid {
    border-bottom: 2px solid grey;
    ;

}h2 {
    color: white;
    font-size:  42px;
    padding:0;
    ;
   
}.panel-body {
    background: grey
}