.tab {
    padding-top: 20px;
    color: #8d8980;
    font-size: 20px;
    ;   
}

.navbar-fixed-bottom {
    background-color: #93a29b
}

h4 {
    color: white;
    font-size:  32px;
    padding:0;
    ;
   
}.panel-body {
    background: #60594D;
}